.cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem 0;
}

.cart_item_image img {
    max-width: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.cart_item_info {
    flex-grow: 1;
    margin-left: 1rem;
}

.cart_item_title {
    font-size: 1.5rem;
    color: #2c3e50;
    margin: 0 0 0.5rem;
}

.cart_item_quantity {
    font-size: 1.1rem;
    color: #7f8c8d;
}

.cart_item_price {
    font-size: 1.2rem;
    color: #e74c3c;
    font-weight: bold;
    margin: 0.5rem 0;
}

.quantity_container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}


.quantity_button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    transition: background-color 0.3s ease;
}

.quantity_button:hover {
    background-color: #2980b9;
}


.remove_button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.remove_button:hover {
    background-color: #c0392b;
}